### Heroes Of Pymoli Data Analysis
* There are a total of 576 players; men are in the majority accounting for 84% of total purchases. 
* Seeing that the purchase amount is greater than total players, it is implied that the same individual purchased more than one game.
* The 15-24 year age range accounts for 63.37% of all purchases. Ages 10 and below and 40 and above account for the lowest range of all purchases.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

* Display the total number of players

In [103]:
import pandas as pd
import numpy as np


input = "purchase_data.csv"


purchase_data_df = pd.read_csv(input)

total_players = len(purchase_data_df["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:

unique_items = len((purchase_data_df["Item ID"]).unique())
number_of_purchases = (purchase_data_df["Purchase ID"]).count()
avg_price = (purchase_data_df["Price"]).mean()
total_revenue = (purchase_data_df["Price"]).sum()


summary_df = pd.DataFrame({"No. of Unique Items":[unique_items],
                           "Avg Price":[avg_price], 
                           "No. of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})


summary_df.style.format({'Avg Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [93]:
gender_info = purchase_data_df.groupby("Gender")
gender_count = gender_stats.nunique()["SN"]
percentage_of_players = gender_count / total_players * 100
gender_dem = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": gender_count})
gender_dem.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

# Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
purchase_count = gender_stats["Purchase ID"].count()
avg_purchase_price = gender_stats["Price"].mean()
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_per_person = avg_purchase_total/total_count_gender
 
gender_dem = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Avg Purchase Price": avg_purchase_price,
                                    "Avg Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})


gender_dem.index.name = "Gender"
gender_dem.style.format({"Avg Purchase Value":"${:,.2f}",
                         "Avg Purchase Price":"${:,.2f}",
                         "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [95]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_names)
purchase_data_df


age_groups = purchase_data_df.groupby("Age Group")
total_age_counts = age_groups["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
age_dem = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_dem.index.name = None
age_dem.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
purchase_count_age = age_grouped["Purchase ID"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/total_count_age

age_dem = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Avg Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Purchase Total per Person": avg_purchase_per_person_age})


age_dem.index.name = None
age_dem.style.format({"Avg Purchase Price":"${:,.2f}",
                      "Total Purchase Value":"${:,.2f}",
                      "Avg Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
spender_stats = purchase_data_df.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()


top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Avg Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Avg Purchase Total":"${:,.2f}",
                                 "Avg Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [79]:
items = purchase_data_df[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 


item_price = purchase_value/purchase_count_item


most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})


popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [86]:
f_popular_profitable = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

f_popular_profitable.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})